.App {
  text-align: center;
  position: relative;
  height: 100%;
}

/* Header */
header {
  background: #0D3B66;
  color: #FAF0CA;
  font-size: 1.6rem;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 1.5rem;
}

header svg {
  color: #EE964B;
  font-size: 4rem;
  transition: all 0.2s ease;
}

.IconContainer {
  position: relative;
}

.numOfFaves {
  position: absolute;
  right: 26px;
  top: 22px;
  color: black;
}

.twoDigits {
  right: 23px;
}

.intro {
  padding: 20px;
}

.intro p {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 15px;
}

.intro span {
  font-style: italic;
}

.intro button {
  background: #EE964B;
  border: none;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px 25px;
  transition: all 0.2s ease;
}

.intro button:hover,
header svg:hover,
header svg:focus {
  transform: scale(1.1);
}

.intro button:focus {
  background: #e08230;
}

/* Main */
main {
  color: #0D3B66;
  padding: 20px 0;
}

.factContainer {
  background: #FAF0CA;
  max-width: 70%;
  font-size: 2rem;
  padding: 10px;
  padding-bottom: 30px;
  margin: 0 auto;
  border-radius: 15px;
  position: relative;
}

.factContainer::after {
  content: '';
  position: absolute;
  right: 20px;
  top: 100%;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #FAF0CA;
  clear: both;
}

.factContainer p {
  padding: 10px;
  margin-bottom: 10px;
}

.factContainer svg {
  color: #EE964B;
  position: absolute;
  right: 20px;
  transition: all 0.2s ease;
}

.factContainer svg:hover,
.factContainer svg:focus {
  transform: scale(1.2);
}

/* Favorite List Display */
.faveDisplay {
  background: #EE964B;
  min-height: 100vh;
  width: 100%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.hideFaveDisplay {
  display: none;
}

.faveDiv {
  background: #F4D35E;
  text-align: center;
  width: 80%;
  padding: 20px;
  padding-bottom: 40px;
  margin: 10px;
  border-radius: 20px;
  border: 2px solid black;
  font-size: 2rem;
  position: relative;
}

.deleteAll {
  width: 300px;
  height: 50px;
  margin-top: 50px;
  background-color: #FAF0CA;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
}

.deleteAll:hover,
.deleteAll:focus {
  border: 2px solid black;
  background: rgb(255, 255, 0);
}

.xIconContainer {
  margin-left: 90%;
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  font-size: 3.5rem;
}

.trashIcon {
  position: absolute;
  right: 20px;
  bottom: 10px;
}

.popUpContainer {
  padding: 10px;
}

.popUpDiv {
  max-width: 325px;
  height: 70px;
  margin: 0 auto;
  padding: 20px;
  background: #EE964B;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 20px;
}

.popUpDiv p {
  color: black;
  font-size: 2.2rem;
}

/* Footer */
footer {
  background: #0D3B66;
  color: #FAF0CA;
  font-size: 1.4rem;
  padding: 5px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

footer a {
  color: #FAF0CA;
  text-decoration: none;
}

footer a:hover,
footer a:focus {
  text-decoration: underline;
  color: #F4D35E;
}

@media (min-width: 460px) {
  .intro p {
    font-size: 3rem;
  }

  .factContainer {
    max-width: 60%;
    font-size: 2.4rem;
  }
}


@media (min-width: 800px) {
  .intro {
    padding: 20px 100px;
  }

  .intro button {
    font-size: 2rem;
  }

  .factContainer {
    max-width: 40%;
  }

  .factContainer p {
    font-size: 3rem;
  }

  footer {
    font-size: 2rem;
  }
}


@media (min-width: 1000px) {
  .titleContainer {
    padding: 10px 30px;
  }

  .numOfFaves {
    top: 21px;
    right: 46px;
  }

  .twoDigits {
    right: 43px;
  }

  .intro {
    padding: 20px 300px;
  }

  .popUpDiv {
    height: 100px;
    max-width: 40%;
  }

  .popUpDiv p {
    font-size: 3rem;
  }
}